.html,
.body {
  margin: 0;
  padding: 0;
}

#Content {
  height: 100%;
  width: 100%; 
  box-sizing: border-box;
  display: flex;
  flex-grow: 2;
  z-index: 2;
  overflow: auto;
  position: relative;
  padding: 0 3.75em 0 3.75em;
}

.textHalfFrame {
  width: 50%;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box; 
  overflow: hidden;
  padding: 0 1.25em 0 7.5em;
}

.galleryHalfFrame {
  width: 50%;
  overflow: hidden;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100vh - 7.9em);
}

.textBlock {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 1.25em 0;
}

.kontaktBlock {
  display: flex;
  flex-direction: column;
}

.kontakt { 
  height: fit-content;
  width: fit-content;
  padding: 0 0 0.300em 0;
} 

.imagecont {
  display: flex;
  justify-content: center;
  max-height: 100%;
  overflow: hidden;
}

.imageMe {
  max-height: 100%;
  border-radius: 1.25em;
}