#ContentMe {
  height: 100%;
  width: 100%; 
  box-sizing: border-box;
  display: flex;
  flex-grow: 2;
  z-index: 2;
  overflow: auto;
  position: relative;
  padding: 0 3.75em 0 3.75em;
}

.textHalfFrame {
  width: 50%;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box; 
  overflow: hidden;
  padding: 0 1.25em 0 7.5em;
}

.galleryHalfFrame {
  width: 50%;
  overflow: hidden;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100vh - 7.9em);
}

.textBlock {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 1.25em 0;
}

.kontaktBlock {
  display: flex;
  flex-direction: column;
}

.kontakt { 
  height: fit-content;
  width: fit-content;
  padding: 0 0 0.300em 0;
} 

.imagecont {
  display: flex;
  justify-content: center;
  max-height: 100%;
  overflow: hidden;
}

.imageMe {
  max-height: 100%;
  border-radius: 1.25em;
}

@media screen and (max-width: 1200px){
  #ContentMe{
    flex-direction: column;
    align-items: center;
  }

  .galleryHalfFrame {
    width: 100%;
    padding: 0 2em 0 2em;
  }

  .textHalfFrame {
    width: 100%;
    padding: 0;
  }

  .textBlock {
    padding: 2em 10em 0em 10em;
  }

  .kontaktBlock {
    flex-direction: row;
    justify-content: center;
    padding: 1.25em 0 1.25em 0;
  }
}

@media screen and (min-width: 900px) and (max-width: 999.99px) {

  .textBlock {
    padding: 2em 5em 0 5em;
  }
}

@media screen and (min-width: 601px) and (max-width: 899px) {
  #ContentMe {
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5em 0 1.5em;
  }

  .nazevBlock {
    padding: 0 3em 0 3em;
  }

  .textBlock {
    padding: 2em 5em 0 5em;
  }

  .galleryHalfFrame {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  #ContentMe {
    flex-direction: column;
    justify-content: center;
    padding: 0 1em 0 1em;
  }

  .textBlock {
    padding: 2em 0.15em 0 0.15em;
  }

  .nazevBlock {
    padding: 0 3em 0 3em;
  }

  .kontaktBlock {
    padding: 1em 0 1em 0;
  }

  .galleryHalfFrame {
    width: 90%;
    padding: 0;
  }
}




