html,
body {
  margin: 0;
  padding: 0;
}

.bgL {
  background-color: var(--color-fullscreenoverlay);
  transition: all 0.5s ease-in-out;
}

.containerLoader {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: fixed;
    z-index: 10000;
}

.loaderlogo {
    position: absolute;
    width: 5em;
    height: 5em;
    align-self: center;
    animation: enter 0.5s ease-in forwards, spin 1.4s ease-out 0.55s infinite forwards;
    z-index: 10000;
}

@keyframes enter {
    0%{
        scale: 0;
    }

    75%{
        scale: 0.9;
    }

    100%{
        scale: 0.99;
    }
}

@keyframes spin {
    0% {
        scale: 1;
        transform: rotate(5deg);
    }

    100% {
        
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 900px) {
    .loader {
        width: 3.75em;
        height: 3.75em;
    }
}

.mySakuraImage {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.sakura {
  transition: opacity 1.5s;
  max-height: 100%;
  /* bottom: 0; */
  position: fixed;
  justify-content: center;
  z-index: inherit;
}

.sakura.anon:hover {
  opacity: 0%;
}

@media screen and (max-width: 1680px) {

  .mySakuraImage {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .sakura {
    transition: opacity 1.5s;
    max-height: 92%;
    bottom: 0;
    position: fixed;
    z-index: inherit;
  }

  .sakura.anon:hover {
    opacity: 0%;
  }

}