:root {
  --gallery-gap-size: 0.625em;
}

.html,
.body {
  margin: 0;
  padding: 0;
}

.overlay {
  transition: .5s ease;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 1.25em;
  background-color: var(--color-galleryoverlay);
}

.overlay:hover {
  opacity: 1;
}

.textBlock {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.grid {
  width: 100%;
  display: grid; /*
  display: flex;
  flex-wrap: wrap;
  gap: var(--gallery-gap-size); */
}

/* Create four equal columns that sit next to each other */
.grid-sizer,
.grid-item {
  width: calc(25% - 3 / 4 * var(--gallery-gap-size));
  max-width: fit-content;
  flex-direction: column;
  display: flex;
  flex-grow: 0;
}

.grid-item {
  margin-bottom: var(--gallery-gap-size);
}

.thumbnail {
  position: relative;
  vertical-align: middle;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 1.25em;
}

/* Responsive layout - one column */
@media screen and (max-width: 699.9px) {
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-sizer, .grid-item {
    width: 100%;
    max-width: fit-content;
  }
}

/* Responsive layout - two columns */
@media screen and (min-width: 700px) and (max-width: 899.9px) {

  .grid-sizer, .grid-item {
    width: calc(50% - 2 / 2 * var(--gallery-gap-size));
  }
}

/* Responsive layout - three columns */
@media screen and (min-width: 900px) and (max-width: 1200px) {

  .grid-sizer, .grid-item {
    width: calc(100% / 3 - 2 / 3 * var(--gallery-gap-size));
  }
}