#Navbar {
    width: 100%;
    /* height: 6.25em; */
    padding: 1.25em 0 1.25em 0;
    display: flex;
    justify-content: space-between;
    /* margin: 0 3.75em 0 3.75em; */
}

.navbar {
    z-index: 1000;
    width: 100%;
}

/* Aby byl floating:
.fl {
    position: fixed;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 100%);
} */

.menuvlevo {
    display: flex;
    width: fit-content;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    gap: 3.75em;
    margin: 0 0 0 3.75em;
}

#Menuvpravo {
    display: flex;
    width: fit-content;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    gap: 3.75em;
    margin: 0 3.75em 0 0;
}

.logo {
    width: 3.75em;
    height: 3.75em;
    cursor: grab;
}

.nav-hamburger {
    align-self: center;
    position: absolute;
    margin: 0 3.75em 0 0;
    right: 0;
    display: none;
}

.menu {
    width: 2em;
    height: 2em;
    cursor: grab;
}

.menumobile {
    display: none;
}

.disabled {
    pointer-events: none;
}

@media screen and (max-width: 1199px) {

    /* defaultní písmo je teď 14px */

    /* .logo {
        width: 2.857em;
        height: 2.857em;
        cursor: grab;
    } */

    .menuvlevo {
        display: none;
    }

    #Menuvpravo {
        display: none;
    }

    .nav-hamburger {
        display: none;
    }

    .menumobile {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        padding: 0 2em 0 2em;
        align-items: center;
        flex-wrap: nowrap;
    }

    .buttons {
        width: 2em;
        height: 2em;
        transition: all 0.4 ease-out;
        position: relative;
    }

    .menuicon {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        opacity: 1;
        transition: opacity 0.25s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .menuopenicon {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        opacity: 0;
        transition: opacity 0.25s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        pointer-events: none;
    }

    /* .nav-hamburger_in {
        position: absolute;
        width: 2em;
        height: 2em;
        padding: 1.4em 2em 1.4em 2em;
        top: 0;
        right: 0;
    } */

    #Navbar {
        width: 100%;
        padding: 1.5em 0 1.5em 0;
        display: static;
        /* background-color: var(--color-primary); */
    }

    #Menuvpravo {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        /* gap: 3.75em; */
        background-color: var(--color-primary);
        margin: 0;
        top: -100%;
        bottom: 0;
        opacity: 0%;
        transition: all 0.4s ease-out;
        z-index: -1000;
    }

    #Menuvpravo.show {
        opacity: 100%;
        top: 0;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

}

@media screen and (max-width: 900px) {

    /* defaultní písmo je teď 14px */

    .logo {
        width: 3em;
        height: 3em;
        cursor: grab;
    } 

    .menuvlevo {
        display: none;
    }

    #Menuvpravo {
        display: none;
    }

    .nav-hamburger {
        display: none;
    }

    .menumobile {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        padding: 0 2em 0 2em;
        align-items: center;
        flex-wrap: nowrap;
    }

    .buttons {
        width: 2em;
        height: 2em;
        transition: all 0.4 ease-out;
        position: relative;
    }

    .menuicon {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        opacity: 1;
        transition: opacity 0.25s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .menuopenicon {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        opacity: 0;
        transition: opacity 0.25s ease-out;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        pointer-events: none;
    }

    /* .nav-hamburger_in {
        position: absolute;
        width: 2em;
        height: 2em;
        padding: 1.4em 2em 1.4em 2em;
        top: 0;
        right: 0;
    } */

    #Navbar {
        width: 100%;
        padding: 1.5em 0 1.5em 0;
        display: static;
        /* background-color: var(--color-primary); */
    }

    #Menuvpravo {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        /* gap: 3.75em; */
        background-color: var(--color-primary);
        margin: 0;
        top: -100%;
        bottom: 0;
        opacity: 0%;
        transition: all 0.4s ease-out;
        z-index: -1000;
    }

    #Menuvpravo.show {
        opacity: 100%;
        top: 0;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

}

@media screen and (max-width: 500px) {
    .logo {
        width: 2.6em;
        height: 2.6em;
        cursor: grab;
    } 

    .buttons {
        width: 1.7em;
        height: 2.6em;
        transition: all 0.4 ease-out;
        position: relative;
    }
    
}

@media screen and (max-width: 379px) {
    .logo {
        width: 2.2em;
        height: 2.2em;
        cursor: grab;
    } 

    .buttons {
        width: 1.5em;
        height: 2.4em;
        transition: all 0.4 ease-out;
        position: relative;
    }
    
}

@media screen and (max-width: 339px) {
    .logo {
        width: 2em;
        height: 2em;
        cursor: grab;
    } 

    .buttons {
        width: 1.4em;
        height: 2.2em;
        transition: all 0.4 ease-out;
        position: relative;
    }

    .menumobile {
        padding: 0 1.5em 0 1.5em;
    }
    
}

@media screen and (max-width: 299px) {
    .logo {
        width: 2em;
        height: 2em;
        cursor: grab;
    } 

    .buttons {
        width: 1.3em;
        height: 2em;
        transition: all 0.4 ease-out;
        position: relative;
    }

    .menumobile {
        padding: 0 1.3em 0 1.3em;
    }
    
}